* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

canvas {
    background-color: aliceblue;
}

.editor-tools {
    height: 400px;
    background-color: aliceblue;
}

.editor-page {
    background-color: lightgoldenrodyellow;
}

.gallery-page {
    height: 100vh;
    background-color: lightpink;

}
.hidden {
    display: none;
}