* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

canvas {
    background-color: aliceblue;
}

.editor-tools {
    height: 400px;
    background-color: aliceblue;
}

.editor-page {
    background-color: lightgoldenrodyellow;
}

.gallery-page {
    height: 100vh;
    background-color: lightpink;
}

.img-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    /* grid-auto-flow: dense; */

}

.img-gallery-container img {
    width: 100%;
    cursor: pointer;

}

.hidden {
    display: none;
}