.canvas-container {
    max-width: 600px;
    min-width: 300px;
}

canvas {
    /* background-color: aliceblue; */
}

.editor-tools {
    height: 400px;
    background-color: aliceblue;
}

.editor-page {
}

.font-btn, .font-btn input{
    cursor: pointer;

}

.big-font::after {
    content: '+';
    font-size: 1.8em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.small-font::after {
    content: '-';
    font-size: 1.8em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.font-btn.fill-clr, .font-btn.stroke-clr {
    position: relative;
    
}
.stroke-clr-input, .fill-clr-input {
    position: absolute;
    opacity: 0;
    bottom: -3px;
    left: 0;
}

.fa-solid {
    font-size: 2em;
}

.gallery-page {
    height: 100vh;
}

.img-gallery-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px; */
    /* grid-auto-flow: dense; */

}

.img-gallery-container img {
    width: 100%;
    cursor: pointer;

}
