* {
    box-sizing: border-box;
}

html {
    color: var(--clr--4);
}

body {
    display: grid;
    grid-template-columns: 20px minmax(260px, 1fr) 20px;
    margin: 0;
    background-color: var(--clr-1);
}

html,
button,
input,
select {
    font-family: poppins, sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

li,
button,
a {
    cursor: pointer;
}

.hidden {
    display: none;
}