* {
    box-sizing: border-box;
}

html {
    font-family: poppins;
    color: var(--clr--2);
}

body {
    display: grid;
    grid-template-columns: 20px minmax(260px, 1fr) 20px;
    /* grid-template-columns: minmax(60px, 1fr) minmax(auto, 1600px) minmax(60px, 1fr); */


    margin: 0; 
    background-color: var(--clr-1);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

li,button,a {
    cursor: pointer;
}

.hidden {
    display: none;
}
