.saved-page {
    grid-column: 2;
    background-color: var(--clr-base);
}

.saved-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    grid-auto-flow: dense;
    border-radius: 5%;
}

.saved-container img {
    position: relative;
    /* width: 100%; */
    cursor: pointer;
    border-radius: 5%;
}

.saved-container button {

}

