.main-header {
    position: relative;
    display: grid;
    grid-template-columns: 20px minmax(260px, 1fr) 20px;

    grid-column: 1/-1;
    background-image: var(--clr-grad);
    margin-bottom: 10px;
}

.main-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-column: 2;
    height: 70px;
}

.main-header .logo {
    margin-inline-start: 10px;
    font-size: 1.8em;
}

.main-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-btn {
    border: none;
    background-color: transparent;
    height: 70px;

    width: 140px;
    border-bottom: 5px solid transparent;
    font-size: 1.3em;
    color: var(--clr--4);
}

.nav-btn:hover {
    color: var(--clr-1);
    font-size: 1.5em;
}

.hamburger-btn {
    background-color: transparent;
    border: none;
    
    color: white;
    scale: 2;
    margin-inline-end: 10px;
}

.active {
    color: var(--clr-1);
    font-weight: bold;
}
