/* MOBILE ONLY */
@media (max-width: 720px) {

    /* MAIN HEADER */
    .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgb(255 255 255 / 90%);
        background-image: var(--clr-grad);
        height: 100dvh;

        border-inline-start: 1px solid var(--clr-1);
        transform: translateX(100%);

        transition: transform 0.6s, box-shadow 0.6s;
    }

    .main-nav-list {
        flex-direction: column;
    }

    .main-nav-list li {
        border-bottom: 1px solid var(--clr-base);
    }

    .nav-btn {
        height: 100px;
        width: 200px;
    }

    .nav-btn:hover {
        color: var(--clr-1);
        font-size: 1.5em;
        background-color: rgba(204, 216, 232, 0.309);
        border-bottom: 5px solid var(--clr-base);
        box-shadow: 0px 3px 11px 4px #2f32337a;
    }

    body.menu-open .main-header {
        background-image: none;
        background-color: var(--clr-1);
    }

    body.menu-open .main-nav {
        box-shadow: -10px -2px 11px 0px rgb(19 18 18 / 30%);
        transform: translateX(0);
        z-index: 2;
    }

    body.menu-open .main-screen {
        opacity: 1;
        z-index: 1;
        pointer-events: auto;
    }

    body.menu-open .hamburger-btn {
        opacity: 0;
        pointer-events: none;
    }
}

/* MEDIUM */
@media (min-width: 720px) {

    .main-header .hamburger-btn {
        display: none;
    }

    body,
    .main-header {
        grid-template-columns: minmax(60px, 1fr) minmax(600px, 1100px) minmax(60px, 1fr);
    }

    .main-header {
        margin-bottom: 50px;
    }

    .img-gallery-container, .saved-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .editor-container {
        gap: 40px;
    }

    .editor-tools {
        gap: 15px;
        padding: 10px;
    }

    .editor-links ul {
        margin: 10px;
        gap: 10px;
    }

    .font-editor {
        gap: 1em;
        padding: 1em;
    }
}

/* LARGE */
@media (min-width: 1100px) {

    body,
    .main-header {
        grid-template-columns: minmax(80px, 1fr) minmax(600px, 1100px) minmax(80px, 1fr);
    }

    .editor-container {
        flex-direction: row;
    }

    .editor-tools {
        padding: 20px;
    }

    .main-header {
        margin-bottom: 100px;
    }
}

/* DESKTOP */

@media (min-width: 1400px) {

    body,
    .main-header {
        grid-template-columns: minmax(60px, 1fr) minmax(auto, 1200px) minmax(60px, 1fr);
    }

    .editor-tools {
        padding: 50px;
    }
}